body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Poppins", sans-serif;
  text-align: left;
}

.title {
  margin-bottom: 20px;
}

.wrapper {
  max-width: 1200px;
  background-color: #e9eff3;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px 0;
  padding: 40px;
  border-radius: 20px;

  font-weight: 500;
  color: #eeeeee;
}

.content {
  background-color: #34495e;
  border: 2px solid transparent;
  cursor: pointer;

  padding: 20px;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
}

.content:hover {
  background-color: transparent;
  border: 2px solid #34495e;

  color: #34495e;
}
