body {
  font-family: Georgia, "Times New Roman", Times, serif;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  font-weight: 500;
}

td,
th {
  padding: 5px 15px;
  border: 1px solid black;
}

tbody > tr {
  transition: all 150ms ease-in-out;
}

tbody > tr:nth-child(2n + 1) {
  background-color: rgb(230, 230, 230);
}

tbody > tr:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.flag {
  aspect-ratio: 6 / 4;
  vertical-align: middle;
  width: 50px;
  height: auto;
}
